@model OnlineClothesStore.Models.Seller

@{
    ViewBag.Title = "Login";
}

<h4 class="text-center my-4">Login</h4>

<div class="login-form mb-5">
    <div class="cotainer">
        <div class="row justify-content-center">
            @*Login card*@
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        @using (Html.BeginForm("Login", "Sellers", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.SId)

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "col-md-4 col-form-label text-md-right" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-md-4 col-form-label text-md-right" })
                                <div class="col-md-6">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="checkbox">
                                        @Html.CheckBox("rememberMe", false)
                                        @Html.Label("rememberMe", "Remember Me")
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-secondary mr-3">Login</button>
                                @Html.ActionLink("Don't have an account?", "Create", "Sellers")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.6.2.js"></script>



